.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.event-card {
    width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.event-card h2 {
    margin-top: 0;
}

.event-card p {
    margin: 5px 0;
}
  
.header {
    text-align: center;
}